body {
    background: linear-gradient(#bacaff,#ced1ff,#cfcaff,#f7d8ff,#ffe0e4,#fff5ddf3);
    background-size: cover;
    object-fit: cover;
    height: 100vh;
    

}
@media only screen and (max-width: 767px) {
    body {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    ::-webkit-scrollbar {
        display: none;  /* Chrome */
    }
  }

/* nav bar style */
.nameplace,
.memList div:last-child {
    margin-left: auto;
}

.teamplace .userplace {
    display: none;
}

.cardCol {
    min-height: 200px;
    height: 500px;
    width: 100%;
    border: 3px solid #b9e2ff;
    border-radius: 18px;
    box-shadow: 0 4px 8px 0 #a294b9;
    transition: 0.3s;
    background: #f7fcff;
    
}


.cardCol:hover {
    box-shadow: 0 8px 16px 0 #a294b9;
}

.cardFont{
    text-shadow:2px 4px 3px #a294b9;
    color:#555454;
    font-size:x-large;
    letter-spacing: 3px;
    font-style:oblique;
    font-weight:400;
}
/* reset bootstrap row and col spacing  */
.row {
    margin: 0;
}

[class*="col-"] {
    margin: 0;
    padding: 0;
}

/* style for modal popup */
.modal-header {
    padding: 0.75rem;
}

/* scrollbar below */
/* Box styles */
.myBlock {
    border: none;
    padding: 5px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 15px;
    height: 5px;
}

::-webkit-scrollbar-track {
    border: 2px solid #acb4ff;
    border-radius: 0 25px 25px 0;
}

::-webkit-scrollbar-thumb {
    background: #acb4ff;
    border-radius: 0 25px 25px 0;
}

::-webkit-scrollbar-thumb:hover {
    background: #97a1fc;
}

/* srollbar end */
.row1 {
    margin-top: 4%;
    margin-bottom: 4%;

}

/* task cards styles */
.card-body {
    padding: 0.5rem;
    cursor: pointer;
}

.backlog {
    border-left: 10px solid #a1bfff;
}

.to-do {
    border-left: 10px solid #e4b6fa;
}

.doing {
    border-left: 10px solid #ffd3aef3;
}

.done {
    border-left: 10px solid #bef3a6;
}

.deleteBtn:hover {
    color: lightgrey;
}

.project-name {
    background-color: #ddf3fd;
}

.container {
    max-width: 1300px;

}

/* add team's member Modal */
.memList {
    align-items: center;
}
/* Add task card */
.add-task-card:hover{
    background-color: #D3D2FF;
    transition: background-color 0.2s ease;
}
/* mobile tabs */
#backlogTab,
#to-doTab,
#doingTab,
#doneTab {
    border-radius: 10px 10px 0 0;
    border: 1px solid transparent;
    cursor: pointer;
    background-color: #7F6C9D;
    /* default colour, subject to initialization and change*/
}

@media only screen and (max-width: 768px) {
    .cardCol {
        border-radius: 0;
        border-color: #A8A6FF;
        border-top: 20px solid #A8A6FF;
    }

    .container {
        padding: 0;
    }
}

/* famous people saying */
.headT {
    margin-top: 40px;
}

.center {
    text-align: center;
}

.right {
    position: absolute;
    right: 24%;
}

.card2 {
    padding: 0 !important;
    border-radius: 0 !important;
    text-align: center;
}

.cardfont {
    font-size: 1.3rem !important;
    color: #4304a8;
    text-shadow: 3px 3px 3px #ababab;
    font-family: "Sofia", sans-serif;
    font-style: oblique;
}

/* footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    text-align: center;
}