.cardCol{
    min-height: 200px;
    height: 500px;
    width: 100%;
    border: 2px solid red;
    border-radius: 5px;
}

/* reset bootstrap row and col spacing  */
.row {
    margin: 0;
}

[class^="col-"] {
    margin: 0;
    padding: 0;
}

/* style for modal popup */
.modal-header {
    padding: 0.75rem;
}